<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrabApp">
        <activity
            android:name=".driver.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".driver.profile_preview.ProfileReviewActivity"
            android:exported="false" />
        <activity
            android:name=".driver.confirm_driver.eligibility.DriverEligibilityActivity"
            android:exported="false" />
        <activity
            android:name=".driver.order_detail.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".driver.home.DriverHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.address_selection.AddressSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".driver.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".driver.transportation.TransportationActivity"
            android:exported="false" />
        <activity
            android:name=".driver.confirm_driver.ConfirmDriverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.ActivityUser"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.goong.api_key"
            android:value="lFHqJVvz4R97UeVo202sBed6FGh7KSi5CJZvjacg" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.grabapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>